[submodule "vendor-git/ac-slime"]
	path = vendor-git/ac-slime
	url = https://github.com/purcell/ac-slime.git
[submodule "vendor-git/js2-mode"]
	path = vendor-git/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "vendor-git/markdown-mode"]
	path = vendor-git/markdown-mode
	url = http://jblevins.org/git/markdown-mode.git
